/* styles for the Todo App */
.todoFormContainer {
  width: 30%;
  margin: auto;
}

.todoFormEntry-placeholder{
  position: absolute;
  color: rgba(0,0,0,.54);
  pointer-events: none;
}

.todoForm {
  width: 100%;
}

.todoForm-cancel-btn{
  float: left;
}

.todoForm-add-btn{
  float: right;
}

.notes-entry{
  width: 50%;
  margin: auto;
}

.notes-entry-body{
  width: 80%;
  float: left;
}

.notes-entry-action{
  float: left;
}